<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
      <section>
      <ul v-show="seen">
          <li v-for="(item,index) in liste">{{item}}<button @click="supprimerItem(index)">Supprimer</button></li>
      </ul>
      <button v-show="seen" @click="showOrHide">Masquer la liste</button>
      <button v-show="!seen" @click="showOrHide">Afficher la liste</button>
      </section>
      <section><input type="text" v-model="item"><button @click="ajouterItem">Ajouter</button></section>
      <section></section>

  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
          liste:[],
          seen:false,
          item:""
      },
      methods:{
        showOrHide(){
            this.seen=!this.seen
        },
        ajouterItem(){
            this.liste.push(this.item)
            this.item=""
        },
        supprimerItem(index){
            this.liste.splice(index,1)
        }
      }
    })
  </script>
</body>
</html>